body {
  background: #efefef;
  font: 13px normal Arial, Helvetica, Verdana, sans-serif
}

#wrapper {
  width: 700px;
  margin: 0px auto;
  background: #ffffff;
  padding: 5px 20px;
  border-radius: 10px;
}

h1 {
  font-family: serif;
  font-size: 72px;
  color: #000;
  border-bottom: 10px solid #e5342b;
  display: block;
  margin: 15px 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul#posts {
  
}

ul#posts li.post {
  width: 500px;
  border-top: 1px solid #e5342b;
  padding: 10px 5px;
}
