<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="website of Warsaw Ruby Users Group" />
<meta name="keywords" content="ruby,users,group,programming,rails" />
<meta name="author" content="WRUG" />
<link href="http://wrug.eu/atom.xml" rel="alternate" title="WRUG site" type="application/atom+xml" />

<title>WRUG
{% if page.title %}
/ {{ page.title}}
{% endif %}
</title>
</head>

<body>
  <h1>Warsaw Ruby Users Group</h1>

{% if page.title %}
  <h2>{{ page.title}}</h2>
{% endif %}

{{ content }}

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-3442482-3");
    pageTracker._trackPageview();
  } 
  catch(err) {}
</script>

<script type="text/javascript">
//<![CDATA[
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/tomashcorner/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>


</body>
</html>







