<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="UTF-8">
  <link  href="//fonts.googleapis.com/css?family=Lobster:regular" rel="stylesheet" type="text/css" >
  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8">
  <meta name="description" content="website of Warsaw Ruby Users Group" />
  <meta name="keywords" content="ruby,users,group,programming,rails" />
  <meta name="author" content="WRUG" />
  <link href="http://wrug.eu/atom.xml" rel="alternate" title="WRUG site" type="application/atom+xml">
  <title>WRUG
    {% if page.title %}
    / {{ page.title}}
    {% endif %}
  </title>
  <!--[if lte IE 8]>
  <script src="/js/html5.js" type="text/javascript"></script>
  <![endif]-->
</head>


<body>
    <div class="wrp">
    <header id="top">
      <hgroup>
        <h1><a href="/" title="Warsaw Ruby Users Group - Home">WRUG</a></h1>
        <h2>Warsaw Ruby Users Group</h2>
      </hgroup>
    </header>  
    </div>
    <div id="main">
      <div class="wrp">
        <nav id="menu">
          <ul>
            <li {% if page.section == 'news' %}class="active"{% endif %}>
              <a href="/" title="Strona główna">News</a></li>
            <li {% if page.section == 'archive' %}class="active"{% endif %}>
              <a href="/posts" title="Wszystkie wpisy">Archiwum</a></li>
            <li {% if page.section == 'place' %}class="active"{% endif %}>
              <a href="/place" title="Miejsce spotkań">Miejsce</a></li>
            <li {% if page.section == 'slides' %}class="active"{% endif %}>
              <a href="/slides" title="Materiały z WRUGów">Materiały</a></li>
            <li>
            <li {% if page.section == 'people' %}class="active"{% endif %}>
              <a href="/people" title="Ludzie">Ludzie</a></li>
          </ul>
        </nav>
        {{ content }}
      </div>
    </div>
    <footer id="foot">
      <div class="wrp">
        &copy; 2010-2012 wrug.eu | design: <a href="http://rubytree.pl" title="rubytree">rubytree</a>
        <div id="flogo" />
        <nav>
        </nav>
      </div>
    </footer>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-3442482-3");
      pageTracker._trackPageview();
    } 
    catch(err) {}
  </script>

</body>
</html>







