<article class="news">
  <header>
    <h1>Materiały z WRUGów</h1>
  </header>
  {% for meeting in page.meetings %}
    <h3>WRUG {{ meeting[0]}}</h3>
    {% for talk in meeting[1] %}
    <p>
        {% if talk.video %}
          <strong><a href="{{talk.video}}">Nagranie</a></strong>
        {% endif %}
        {% if talk.photos %}
          <strong><a href="{{talk.photos}}">Zdjęcia</a></strong>
        {% endif %}
      <a href="{{talk.slides}}">{{talk.author}}: {{talk.title}}</a>
    </p>
    {% endfor %}
  {% endfor %}
</article>
